.category {
    height: 350px;
    width: 100%; /* Ensure the category takes full width of its grid cell */
    max-width: 350px; /* Keep a max-width to prevent overflow */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Add some padding for better spacing */
    overflow: hidden; /* Prevent overflow of content */
}

.category img {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}

.category a {
    text-decoration: none;
    color: rgb(35, 35, 35);
}

.category h3, .category p {
    padding: 5px;
    margin-left: 15px;
}

.category p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 132, 209);
}

.category__container {
    position: relative;
    margin-top: -10px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    place-items: center;
    padding: 20px;  
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
}